<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Startup API Power Strip</title>

</head>

<body>
  <div id="startupapi-power-strip"></div>
  <script async src="/bundle.js"></script>

  <h2>TODO:</h2>
  <ul>
    <li>Development environment should mock API responses</li>
    <li>Development environment should provide pages for all types of HTML template configurations, including:
      <ul>
        <li>no CSS framework</li>
        <li>Bootstrap 4</li>
        <li>Bootstrap 3</li>
      </ul>
    </li>
    <li>Development environment should provide pages for configuration options:
      <ul>
        <li>Default <code>#startupapi-power-strip</code> attachment element</li>
        <li>Custom attachment element configuration</li>
        <li>No explicit attachment element</li>
      </ul>
    </li>
    <li>Development environment should link to documentation</li>
  </ul>
</body>

</html>